body{
    margin: 0;
    padding: auto;
    font-family: 'Libre Bodoni', serif;
    min-height: 100vh;
    background: linear-gradient(125deg,#36AE7C,#187498);
    color: #070707; }
.container{
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    text-align: center;
    color: #343434;
    margin-left: 32%;
    font-family: 'Libre Bodoni', serif;

}
h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(error.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container a{
    text-decoration: none;
    background: #343434;
    color: aliceblue;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 32px;
    font-size: 16px;
}
.container a:hover{
    background: #c8e975;
    color: black;
}
.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
      
}
.cont li{
    color: #333333;  

}
.copy{
    text-align: center;
}
/* .logos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}
.logs{
    width:50px;
    margin-left: 10px;
    margin-top: 10px;
}
.logs img{
    width: 100%;
} */
p{
    font-size: larger;
    font-weight: bolder;
}
.footer a{
    text-decoration: none;
    background: #6b0404;
    color: #141414;
    color: rgb(222, 230, 236);
    padding: 12px 24px;
    display: inline-block;
    border-radius: 48px;
    font-size: 16px;
}
footer a:hover{
    background: #c8e975;
    color: rgb(32, 60, 61);
    text-align: left !important;
    margin-left: 15px !important;

}
footer{
    text-align: right;
    text-decoration: wavy !important;
}
nav{
    width: 100%;
    padding: 8px 12px;
    height: 100px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-centered{
    justify-content: center;
}

.navbar-right{
    justify-content: space-between;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-item a{
   display: inline-block;
   padding: 8px 16px;
   text-decoration: none;
   color:#092357;
   font-weight: 500;
}

.nav-item:hover {
    background-color: #FFCD00;
}

.active{
    background-color: #FFCD00;
}
.logo{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.logo-centered{
    width: 60px;
    height: 60px;
    margin: 24px auto;
}